body {
	background: #bbf4eb;
	padding: 0;
	margin: 0;
	height: 100vh;
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
  width: 100%;
}

@font-face {
  font-family: 'Calibri';
  src: url('/fonts/Calibri-Bold.woff2') format('woff2'),
      url('/fonts/Calibri-Bold.woff') format('woff'),
      url('/fonts/Calibri-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


.js-report-sparkline {
	margin: 0 auto;
	position: relative;
	width: 100%;
	height: 100%;
}

.js-report-sparkline * {
	box-sizing: border-box;
}

.js-report-sparkline path {
	stroke-width: 16;
	fill: none;
}

.js-report-sparkline .point.end {
	opacity: 1;
}

.team-1,
.team-2 {
	position: fixed;
	left: 5rem;
	display: flex;
}

.team-1 {
	top: 4rem
}

.team-2 {
	bottom: 4rem;
}

.team-2 .team-info:after {
	background: #8cb535;
}

.team-heading {
	text-align: center;
	align-items: center;
	justify-content: flex-start;
	display: flex;
	font-size: 3.4375rem;
	font-weight: 500;
	height: 100%;
	color: #fff;
	padding: 0 1.75rem;
}

.team-info {
	height: 5rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	margin-right: 1.5rem;
}

.team-custom-color{
	position: absolute;
	display: block;
	width: 2.375rem;
	height: 100%;
	right: -9px;
	top: 0;
	z-index: -1;
	-ms-transform: skew(-30deg, 0deg);
	-webkit-transform: skew(-30deg, 0deg);
	transform: skew(18deg, 0deg) translateX(13%);
}


.bg-light-green {
	background-color: #8cb535;
}

.bg-gray {
	background-color: #4a4a4a;
}

.bg-orange {
	background-color: #d64743;
}

.clip-color {
	width: 0.625rem;
	height: auto;
	z-index: 99999;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	transform: skew(19deg);
}

.clip-color:not(:last-child) {
	margin-right: 0.9375rem;
	width: 1.4375rem;
	margin-left: 0.625rem;
}

.js-report-sparkline * {
	box-sizing: border-box;
	height: 100%;
}

.sparkline-info {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin: 0px auto;
	text-align: center;
	font-size: 13rem;
	display: flex;
	transform: translateY(-50%);
	justify-content: center;
}

.sparkline-text {
	display: flex;
	align-items: center;
	background: #bbf4eb;
	border-radius: 45px;
}

.sparklin-text h3 {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
}

.sparkline-body {
	display: flex;
	line-height: 0.8;
  text-shadow: 3px 10px 8px rgb(19 29 29);
  background: linear-gradient( 
    45deg, rgb(27 39 38 / 77%) 50%, rgb(76 101 98) 77%, rgb(43 56 55) 100%);
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent;
	background-clip: text !important;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-family: 'Calibri';
}


.sparkline-text .sparkline-body .sparkline-date-info {
	font-size: 2rem;
  text-shadow: 1px 1px 6px rgb(23 34 34 / 69%);
  background: linear-gradient( to right, rgb(25 37 36 / 44%) 100%, rgb(19 29 29) 100%, rgb(19 29 29) 100%);
  padding-top: 1rem;
  -webkit-background-clip: text !important;
  background-clip: text !important;
	-webkit-text-fill-color: transparent;
	
 
 
  
}

.sparkline-report-info {
	display: flex;
	flex-direction: column;
  align-items: flex-start;
}

.sparkline-body,
.add-icon {
	font-weight: 600;
}


/* responsive */

@media only screen and (min-width: 320px) and (max-width: 991px) {
	html {
		font-size: 62.5%;
	}
	.sparkline-info {
		font-size: 8rem;
	}
	.sparkline-body,
	.sparkline-date-info {
		-webkit-background-clip: inherit;
		-webkit-text-fill-color: inherit;
    background: linear-gradient( 
      45deg, rgb(27 39 38) 50%, rgb(76 101 98) 77%, rgb(43 56 55) 100%);
	
		text-shadow: none !important;
	}
	.sparkline-date-info {
		font-size: 1.5rem !important;
    padding-top: 0.6rem !important;
	}
	.team-1 {
		top: 3rem
	}
	.team-2 {
		bottom: 3rem;
	}
	.sparkline-body {
		padding: 10px 0 ;
		margin: 0 !important;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.sparkline-info {
		font-size: 10rem;
	}
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
	.team-1,
	.team-2 {
		left: 1rem;
	}
	.team-heading {
		font-size: 3rem;
	}
}



